.cyberPunkButton {
  width: 380px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  text-justify: auto;
  border: none;
  color: white;
  letter-spacing: 3px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(45deg, transparent 7%, red 5%);
  box-shadow: 6px 0px 0px rgb(91, 216, 8);
  outline: transparent;
  position: relative;
}

.cyberPunkButton::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 0 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(45% -6px 45% 0);
  --slice-top: inset(0 0 50% 0); // 上半部，从顶部到1/3高度
  --slice-middle: inset(30% 0 30% 0); // 中间部分，从1/3高度到2/3高度
  --slice-bottom: inset(0 0 50% 0); // 下半部，从2/3高度到底部
  content: 'CyperPunk Button';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 6px 0px 0px rgb(91, 216, 8);
}

.cyberPunkButton:hover::after {
  background: linear-gradient(
    45deg,
    transparent 3%,
    purple 3%,
    purple 11%,
    #ff013c 11%
  );
  animation: 1s cyberPunking infinite;
  animation-timing-function: steps(1, end);
}

@keyframes cyberPunking {
  0% {
    clip-path: var(--slice-middle);
    text-shadow: 3px 0 3px lightblue;
    color: yellow;
    transform: translate(10px, 0px);
  }

  10% {
    clip-path: var(--slice-1);
    transform: translate(10px, -6px);
  }

  25% {
    clip-path: var(--slice-top);
    text-shadow: -3px 0 3px darkorange;
    color: purple;
    transform: translate(-10px, 0px);
  }

  30% {
    clip-path: var(--slice-1);
    transform: translate(-10px, -10px);
  }

  50% {
    clip-path: var(--slice-2);
    transform: translate(5px, 9px);
  }

  50% {
    clip-path: var(--slice-bottom);
    text-shadow: 6px 0 5px red;
    color: lawngreen;
    transform: translate(10px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(0, 0);
  }

  65% {
    clip-path: var(--slice-5);
    font-weight: 800;
    transform: translate(-2px, 0);
  }
}
