@use 'sass:color';
.cyberpunkButton {
    height: 80px;
    width: auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 3px;
    border: 0;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    background: linear-gradient(45deg, transparent 7%, red 5%);
    box-shadow: 8px 0px 0px rgb(80, 228, 61);
    cursor: pointer;
    outline: transparent;
    position: relative;
}


$transform-right: 5px, 0px;
$transform-double-right: 10px, 0px;
$transform-left: -5px, 0px;
$transform-double-left: -10px, 0px;



.cyberpunkButton::after {
    --slice-text-middle: inset(43% 0 43% 0);
    --slice-text-left: inset(45% 0 0 0);
    --slice-text-bottom: inset(0 0 45% 0);

    --slice-bottom: inset(0 0 80% 0);
    --slice-top: inset(80% 0 0 0);

    --slice-1: inset(10% -6px 80% 0);
    --slice-2: inset(30% -6px 0 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(45% -6px 45% 0);
    content: 'Now loading...';
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 0;
    box-shadow: 6px 0 0 rgb(80, 228, 61);
}

.cyberpunkButton:hover::after{
    background: linear-gradient(45deg, transparent 3%, purple 3%, purple 7%, #ff013c 7%);
    animation: 1s cyberpunking infinite;
    animation-timing-function: steps(1, end) ;
}

@keyframes cyberpunking{
    0% {
        clip-path: var(--slice-text-middle);
        transform: translate($transform-left);
        color: yellow;
        text-shadow: 3px 0 3px lightblue;
    }
    10%{
        clip-path: var(--slice-bottom);
        transform: translate($transform-double-right);
        box-shadow: 10px 0 0 orange;
    }
    20%{
        clip-path: var(--slice-text-top);
        transform: translate($transform-right);
        color: grey;
        text-shadow: -3px 0 -3px lightgray;
    }
    30%{
        clip-path: var(--slice-1);
        transform: translate($transform-left);
    }
    40%{
        clip-path: var(--slice-text-top);
        color: lightblue;
        transform: translate($transform-double-right)
    }
    50%{
        clip-path: var(--slice-2);
        transform: translate($transform-double-left);
    }
    60%{
        clip-path: var(--slice-text-bottom);
        transform: translate($transform-right);
    }
    70%{
        clip-path: var(--slice-top);
        transform: translate($transform-double-left)
    }
    80%{
        clip-path: var(--slice-3);
        transform: translate($transform-right);
    }
    90%{
        clip-path: var(--slice-bottom);
        transform: translate($transform-double-right);
    }
}
